<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISS Position</title>
  </head>
  <body>
    <h1>Welcome to the ISS Locater</h1>
    <label for="lat">Latitude</label>
    <input id="lat" type="text" placeholder="<%= lat %>" name="Latitude" />
    <label for="lon">Longitude</label>
    <input id="lon" type="text" placeholder="<%= lon %>" name="Longitude" />
    <h2>Click the button to see it on a map</h2>
    <button id="MapBtn">Click Me</button>
  </body>
</html>
